<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="nbLeft">
            <p>
                Web Phising Detector By <b>HappyVara</b>
            </p>
        </div>
        <div class="nbRight">
            <p class="rightItem">
                Beranda
            </p>
            <p class="rightItem">
                Tentang Kami
            </p>
            <p class="rightItem">
                Kontak
            </p>
        </div>
    </div>
    <div id="main">
        <div class="idMain">
            <div class="bigText">
                <img src="../static/logo.png" alt="">
                <h1>Apakah Anda Yakin Situs yang Anda Kunjungi Aman?</h1>
                <h1>Temukan Jawabannya di Website Kami</h1>
            </div>
            <form action="/" method="post" class="inputText">
                <input class="input" type="text" placeholder="Paste link yang anda salin disini " name="link">
                <input type="submit" name="" value="Deteksi" class="search">
            </form>
        </div>

        <div class="contain">
            <div class="title">
                <h1>Tips dan trik jitu mencegah dan menangani tindak laku <i>Phishing</i></h1>
            </div>
            <div class="preventiveAction">
                <h4>Tindak Pencegahan</h4>
                <div class="section">
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>